body {
    background-color: rgb(218, 225, 231);
    display: flex;
    justify-content: center;
}
h1{
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 250px;;
}
.proper {
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    margin-top: 400px;
    border: none;
    background-color: rgb(47, 47, 47);
    color:rgb(218, 225, 231);
    font-weight: bold;
    position: absolute;
}